
:root {
  --bs-primary: #d35400;  
  --bs-secondary: #2c3e50; 
  --bs-light: #f8f9fa;
  --bs-dark: #1c1c1c;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

header h1 {
  text-align: center;
  margin: 20px 0;
  color: var(--bs-primary);
  font-weight: bold;
}

footer {
  background-color: var(--bs-secondary);
  color: white;
  padding: 15px 0;
  text-align: center;
  margin-top: 30px;
}

/* Galería de imágenes */
.galeria img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.galeria img:hover {
  transform: scale(1.05);
}